body{clear: both; margin: 0 auto;}
  .assignment{
   background-color:cadetblue;
    height: 250px; 
    opacity: 0.6; 
  }
  .assignment h1{
    padding-top:10%;
    font-size:4em;
    margin: 0 auto;
    color: navy;
  }
  .card_views{
    background-color: whitesmoke;
    height:auto;
  }
.thumbnail{
    padding: 0;
    height:220px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.thumbnail2{
   display: block;
    padding:4px;
    height:80px;
    margin-top:10px; 
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

  .card_image{
    height:65%;
    width:100%;
    color: white;
    padding: 0;
    border-radius:4px; 
      background-color: aqua;
   
}

.card_image img{
    height:100%;
    width:100%; 
}

/* button css start here*/

  .card_button { 
    height:34.8%;
    padding:0;
    margin: 0;
    background-color:white;
    color: white;
  }

.card_button a , .thumbnail2 a{
    text-decoration: none;
    color: white;
}
.thumbnail2 button a{
    text-decoration: none;
    color: white;
    font-size:14px;

}

.card_button button{ 
    border:none;
    height:50%;
    color:white;
    background-color: navy;
    border-radius: 0px;
    font-size:0.8em;
    margin-bottom:1px; 
}

.thumbnail2 button{
    height:100%;
    font-size:1.5em;  
}

.thumbnail2 button a:hover{
    color:lime;
}

/* button style end here */

.for_bca{
    background-color: whitesmoke;
}
.for_mca{
    background-color:whitesmoke;
    border-left:1px solid black; 
    
}


  .bca,.mca{
    height:60px;
    background-color:brown;
    text-align: center;
    font-size:2em;
    margin-bottom:10px; 
    color:white;
  }
.for_others{
    margin-top:10px; 
    background-color:darkkhaki; 
}

