body{clear: both; margin: 0 auto;}

  .assignment{
   background-color:#2d4788;
    height: 250px;
  }
  .assignment p{
    padding-top:10%;
    font-size:3em;
    margin: 0 auto;
    color: white;
    overflow: hidden;
  }
  .card_views{
    height:auto;
      margin: 0 auto;
      padding-left:5%;
      padding-right:5%;
  }

.bg-ignou_6_sem {
    width: 150px; height: 150px;
    background: url('../images/semester.png') -5px -5px;
}

.bg-ignou_5th_sem {
   width: 150px; height: 150px;
    background: url('../images/semester.png') -265px -5px;
}
.bg-ignou_4th_sem {
    width: 150px; height: 150px;
    background: url('../images/semester.png') -5px -265px;
}
.bg-ignou_3rd_sem {
  width: 150px; height: 150px;
    background: url('../images/semester.png') -265px -265px;
}
.bg-ignou_2nd_sem {
    width: 150px; height: 150px;
    background-color: aqua;
}
.bg-ignou_1st_sem {
    margin: 0 auto;
   width: 167px; height: 167px;
    background-color: aqua;
}



.thumbnail{
    padding: 0;
    height:260px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.thumbnail2{
   display: block;
    padding:4px;
    height:100px;
    margin-top:10px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

  .card_image{
    height:65%;
    width:100%;
    color: white;
    padding: 0;
      background-color:whitesmoke;
    border-radius:4px;
}
.card_image img{
    width: 100%;
    height: 100%;
}


.sprite.ignou-1st-sem { background-position: -1255px 0; } 




/* Mintu mene thoda sa tweak kiya hai or tu dekh le and css ki to kya kahne teri _ Wah! wah!   */
/* Bapas pahle jaisa krna hia to comment ki hui css on kar de or assignment.php me image bala tag remove kr ke jo comment karke mene rakha hai tera tag use on kar lio*/
/* ab check kro mera card or ab kuch bolna chahta hai to bta dio*/

  .card_button {
    height:34.8%;
    padding:0;
    margin: 0;
    background-color:white;
    color: white;
  }

.card_button a , .thumbnail2 a{
    text-decoration: none;
    color: white;
}
.thumbnail2 button a{
    text-decoration: none;
    color: white;
    font-size:13px;
}
.card_button button{
    border:none;
    height:50%;
    color:white;
    background-color: navy;
    border-radius: 0px;
    font-size:0.8em;
    margin-bottom:1px;
}
.card_button button:hover{
    background-color:#2962FF;
    color:#fff;
}


.thumbnail2 button{
    height:100%;
}

.thumbnail2 button a:hover{
    color:aqua;
}
.animButton{
    border:none; 
    background:whitesmoke;
    animation:myfirst 20s;
    -webkit-animation:myfirst 20s infinite; /* Safari and Chrome */
}
  @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:navy;}
    40%  {background:#009688;}
    60%  {background:#304FFE;} 
    80%  {background:#2962FF;}
    100%   {background:#000088;}
    }

.animText{
    border:none; 
    background:whitesmoke;
    animation:myfirst2 20s;
    -webkit-animation:myfirst2 20s infinite; /* Safari and Chrome */
}
  @-webkit-keyframes myfirst2 /* Safari and Chrome */
    {
    0%   {color:#fff;}
    20%   {color:yellow;}    
    40%  {color:cyan;}
    60%  {color:#304FFE;} 
    80%  {color:#2962FF;}
    100%   {color:#000088;}
    }

/* button style end here */

.for_bca{
    padding: 0;
    margin: 0 auto;
}
.for_mca{
    border-left:2px solid whitesmoke;
    margin: 0 auto;
    padding: 0;
}

  .bca,.mca{
    padding:10px;
    background-color:lightslategray;
    text-align: center;
    font-size:2em;
    margin-bottom:5px;
    margin-top:5px;
    color:white;
  }
.for_others{
    margin-top:10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left:5%;
    padding-right:5%;
    }

/* result css strat here */
.program_list{
    padding-right:10px;

}
.result h3{
    margin: 0;
    text-align: center;
    color:white;
    background-color:#000088;
    font-size: 2em;
}
input[type="submit"]:hover {
	background:#000088;
    color:#fff;
}

.result label{
    padding-top:20px;
    font-size:1.2em;
    color: #000088;
}

/* result css end here */

/* imp_note cs start here */
/*
.imp_note{
    background-color:whitesmoke;
    padding-left:5%;
    padding-right:3%; 
}
.subnote{
    background-color: #000088;
    margin: 0;
    margin-bottom:1px; 
    color: #fff;
    font-size:2em;
    padding:10px; 
}
*/

/* solved assignment css start here */
.solved_assignment{
    padding-left: 5%;
    padding-right: 5%;
    margin-top:5px; 
    
}
.solved_assignment a{
    text-decoration: none;
    font-size:1.2em;
}
.solved_assignment2 a{
    text-decoration: none;
    font-size:1.2em;
    color: #fff;
}
.bt{
    background-color:#5b5d6b;
    font-size:2.2em;
    color: #fff;
    overflow: hidden;
    width: 100%; 
    height:50px;
    padding:5px; 
    text-align: center;
    margin-bottom: 2px;
}
.bca_solved{
    background-color:navy;
    color: #fff;
    margin-bottom:5px;
    border-bottom:10px solid navy; 
}
.sem{
    background-color:white;
    color: navy; 
}
.lists{
    background-color: navy;
    color: white;
    padding: 0;
    margin-bottom:5px; 
}
.lists li{
    display:block;
    
}
.other_course{
    background-color: white;
  color: black;
    height: auto; 
    margin-bottom:10px;
    overflow: hidden;
    border:2px solid #000088;
    border-radius:4px;
    padding: 0;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.ot2 a{
    padding-left:15%;
    font-size:1.5em; 
    color:#000088;
}

