/* Previous Year Paper style starts */
/*****************************
*** pyp : Previous Year Paper
*****************************/

div.pyp_row{
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}
div.pyp_heading{
  color: #2d4788;
  text-align: center;
}
div.pyp_col2{

}
div.pyp_col2 h3{
  background-color: #2d4788;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
div.pyp_col2 p{
  background-color: #d4d4d4;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0 0 3px 0;
}

/* Previous Year Paper style ends */

/* Changelog Css starts here*/
.changelog_content>.list-group>.list-group-item>.list-group-item-heading{
  font-weight: 800;
}
.update_strips{
  display: inline-block;
  padding: 3px 16px;
  margin-right: 20px;
  border-radius: 3px;
  width: 150px;
  text-align: center;
  color: #fff;
}
.list-group-item>.badge{
  border-radius: 3px;
  padding: 4px 8px;
  margin-left: 5px;
}
.list-group-item>.badge_color{
  border-radius: 3px;
  padding: 4px 30px;
  color: #000080;
  background-color: #000080;
  /*width: 20px;*/
}

/* Changelog Css endss here*/


.gradecard_class{
  /*padding-left: 90px;
  padding-right: 90px;*/
}
