/* Previous Year Paper style starts */
/*****************************
*** pyp : Previous Year Paper
*****************************/

div.pyp_row{
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}
div.pyp_heading{
  color: #2d4788;
  text-align: center;
}
div.pyp_col2{

}
div.pyp_col2 h3{
  background-color: #2d4788;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
div.pyp_col2 p{
  background-color: #d4d4d4;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0 0 3px 0;
}

/* Previous Year Paper style ends */

.gradecard_class{
  /*padding-left: 90px;
  padding-right: 90px;*/
}
