
/* Navigationbar Style Start Here*/
.navbar {
  margin-bottom: 0;
  background-color:navy;
  z-index: 9999;
  border: 0;
  padding:10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px !important;
  line-height: 2.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar li a, .navbar {
  color: #fff !important;
  font-weight: 800;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color:navy !important;
  font-size:15px;
  background-color:#fff !important;
  height: 100%;
}
.navbar-default .navbar-toggle {
  border-color:navy;
  color: #fff !important;
}
.nav-tabs{
  text-decoration: none;
  padding-left: 10px;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 3px;
}

#padding_bottom{
  margin-bottom: 60px; /* This eliminates the absence of margin [Don't remove it] */
}
.carousel-control.left, .carousel-control.right{
  background-image: none;
}
.carousel-control{
  color: transparent;
}
.navbar-brand{
  padding: 1px 1px;
}
.carousel-control:focus, .carousel-control:hover{
  color: #000080; /* Navy color hex*/
}


/* End of Navigationbar style*/

.container{
  width: 100%;
  padding: 0;
}
.container-fluid {
  padding: 60px 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height:100%;
  background-color: cadetblue;
}
.mycarousel-control{
  opacity: .4;
  width:100px;
}
.tabcontainer2{
  width:100%;
  margin: 0 auto;
  background-color:whitesmoke;
  height:345px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.logo-small {
  color:navy;
  font-size: 60px;
}

.text-center{
  width:100%;
  margin: 0 auto;
  background-color: whitesmoke;
}
.text-center2{
  width:100%;
  margin: 0 auto;
}

.text-center a{
  text-decoration: none;
  color:black;
}
.sideform{
  background-color: whitesmoke;
  width: 32%;
  margin: 0 auto;
  display:inline-block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}
@media screen and (max-width: 768px) {
  .sideform{
    width: 96%;
    margin-top:5%;
  }
  .sideform2{
    min-width: 100%;
    }
    .tabcontainer2{
        height:550px; 
    }
}

.service-container{
  margin-top: 10px;

}
#home, #menu1,#menu2,#menu3{
  background-color: white;
  border: 5px solid whitesmoke;
  padding:20px;
  height:87%; 
}
#menu1{
  padding:52px;
}
#menu1 h4{
  font-size:2em;
  text-align: center;
  color: crimson;
  margin-top:-40px;
}

.sideinfo{
  background-color: whitesmoke;
  width: 32%;
  height: 550px;
  color: black;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/*project css start here */

.project-list{
  margin-top: 10px;
  height:540px;
}
/*project  css end here */

/*project list buttons css start here */
 .btn2:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: left;
    margin-right:15px;
  }
  /* Icon when the collapsible content is hidden */
  .btn2.collapsed:after {
    content: "\e080";
  }
/*project list buttons css end here */


.mark{
  height:88%;
  background-color: white;
}

.bigcontainer{
  width: 99.85%;
}

footer {
  background-color: red;
  color: #f5f5f5;
  padding: 32px;
  width:100%;
}
.footertext{
  height:30%;
  margin-top: 5px;
  background-color:black;
}
.footertext a {
  color: #ffffff;
}
footer a:hover {
  color: red;
  text-decoration: none;
}

textarea{
  resize: vertical;
}


.thoughts{
  margin-top:5px;
}


/*    */

.popupmodel{
  padding-top:200px;
}
.wcs{
  background-color:gray;
  margin: 0 auto;
  width: 97.5%;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
}
.team_member{
  margin: 0 auto;
  width:90%;
}
.team_member h1{
  text-align: center;
  color: white;
  text-decoration: underline;
}

.members{
  //  background-color: darkgoldenrod;
  display: block;
  color: white;
  height:75%;
  margin: 0 auto;
  width: 80%;
  text-align: center;

}



/* style css for contact page */
.aboutustitle{
  height: 250px;
  background-color: cadetblue;
  color: white;
  background-image: url(../images/breadcrumb.jpg);
  background-repeat: no-repeat;
  margin-bottom:10px;
}
.aboutustitle h1{
  padding-top: 100px;
  padding-left:50px;
  font-size:4.5em;

}

.titlepage{
  height: 570px;
}
.contactform{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  height:80%;
  margin: 0 auto;
  padding-top:10px;

}
.planguage{
  background-color: blue;
  height:400px;
  color: white;
  margin: 0 auto;
  clear: both;

}

.map{
  height:400px;
  background-color: aqua;
  margin: 0 auto;
  clear: both;
}

/* end of contact form style */

/*  Project List Page style start here */
.projectlist{
  height: auto;
  min-width:70%;
}
.sideform2{
  width:30%;
  color: black;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/*Tutorials Page style start here*/
.tutorials{
    height:200px;
   background-image: url(../images/Tutorial.png);
  background-repeat: no-repeat;
}
/*
.tutorials h1{
    padding-top:7%;
    font-size:5em;
    color: red;
    font:comic sans ms;
  }
*/
  .card_views2{
    height:auto;
  }
  .sub_cards2{
    margin-left:6%;
    margin-bottom:10px;
    margin-top:10px;
    height:300px;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }
  .card_image2{
    height:74.4%;
    margin-bottom:2%;
  }
.card_image2 img{
    height: 100%;
    width: 100%;
}
  .card_button2{
    height:20%;
    margin:0;
    border:none;
    padding: 0;
  }
.card_button2 button:hover{
    background-color: #311B92;
    color: white;
    border:none;
}

/* ABOUT US PAGE CSS STARTS HERE*/

.about_container{
  height: 250px;
  background-color: #2d4788;
  /*background-image: url('../images/about-back-img.png') no-repeat;*/
}
.about_h1{
  color: #fff;
  font-size: 5rem;
  font-family: ubuntu;
}
.about_img img{
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.row_about{
  margin-left: 0;
  margin-right: 0;
  background-color: #f7f7f7;
  height: auto;
}
.row_about .col-md-6, .col-sm-6, .col-xs-12{
  padding: 50px;
  margin: 0 auto;
}
.about_paragraph p{
  font-size: 1.8rem;
  color: #00007c;
  font-family: ubuntu;
  text-align: justify;
}

/* ABOUT US PAGE CSS ENDS HERE*/
