/* Global Css for elements */
*{
  font-family: 'Roboto', sans-serif;
}
.btn{
  border-radius: 0;
}
.btn-primary{
  background-color: #2d4788;
}
.btn-primary:hover{
  background-color: #000080;
  transition: 500ms ease-out;
}

/* Adding this with the row class will
* remove the horizontal scrolling bars
*/
.row_margin_LR{
  margin-left: 0;
  margin-right: 0;
}
.col_padding_LR{
  padding-left: 0;
  padding-right: 0;
}

/* Global Css for elements ends*/
/* Navigationbar Style Start Here*/
.navbar {
  margin-bottom: 0;
  background-color:navy;
  z-index: 9999;
  border: 0;
  padding:10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px !important;
  line-height: 2.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.navbar li a, .navbar {
  color: #fff !important;
  font-weight: 800;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color:navy !important;
  font-size:15px;
  background-color:#fff !important;
  height: 100%;
}
.navbar-default {
  border-color:navy;
  color: #fff !important;
}
.nav-tabs{
  text-decoration: none;
  padding-left: 10px;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 3px;
}
#padding_bottom{
  margin-bottom: 60px; /* This eliminates the absence of margin [Don't remove it] */
}
.navbar-brand{
  padding: 1px 1px;
}
/*Toggle button Style starts*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #90afe6;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #90afe6;
}
.navbar-collapse {
  border-top: none;
}
/*Toggle button Style ends*/
/* End of Navigationbar style*/

/* media query start here */
@media screen and (max-width:768px) {
  .sideform{
    margin-top:5%;
    width:100%;
  }
  .sideform2{
    min-width: 100%;
  }
  .sideinfo{
    margin-top:3%;
  }
}
/* media query end here */
/*project css start here */
.projectcontainer{
  margin-left: 0;
  margin-right: 0;
  padding-left:5%;
  padding-right:5%;
  background-color: whitesmoke;
  margin-bottom:2px;
}
/*  Project List Page style start here */
.projectlist{
  border-radius:4px;
  height: auto;
  padding-left:5%;
  font-size:1.2em;
}
.projectlist a{
  text-decoration: none;
}
/*project  css end here */
/*project list buttons css start here */
.btn2:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: left;
  margin-right:15px;
}
/* Icon when the collapsible content is hidden */
.btn2.collapsed:after {
  content: "\e080";
}

/*project list buttons css end here */
.mark{
  height:88%;
  background-color: white;
}

.thoughts{
  margin-top:5px;
}
/*   
.popupmodel{
 padding-top:-150px ;
} */

.wcs{
  background-color:gray;
  margin: 0 auto;
  width: 97.5%;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
}
.team_member{
  margin: 0 auto;
  width:90%;
}
.team_member h1{
  text-align: center;
  color: white;
  text-decoration: underline;
}

.members{
  //  background-color: darkgoldenrod;
  display: block;
  color: white;
  height:75%;
  margin: 0 auto;
  width: 80%;
  text-align: center;

}
/* style css for contact page */
.aboutustitle{
  height: 250px;
  background-color: cadetblue;
  color: white;
  background-image: url(../images/breadcrumb.jpg);
  background-repeat: no-repeat;
  margin-bottom:10px;
}
.aboutustitle h1{
  padding-top: 100px;
  padding-left:50px;
  font-size:4.5em;

}
.titlepage{
  height: 570px;
}
.contactform{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  height:80%;
  margin: 0 auto;
  padding-top:10px;

}
.planguage{
  background-color: blue;
  height:400px;
  color: white;
  margin: 0 auto;
  clear: both;

}
.map{
  height:400px;
  background-color: aqua;
  margin: 0 auto;
  clear: both;
}
/* end of contact form style */
/*Tutorials Page style start here*/
.tutorial {
  background-color: whitesmoke;
  padding-left: 5%;
  padding-right: 5%;
}
.tutThumbnail{
  padding: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 250px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.tutCard_image{
  height:80%;
  width:100%;
  color: white;
  padding: 0;
  border-radius:4px;
  background-color:lightslategray;

}
.tutCard_image img{
  height:100%;
  width:100%;
}
.tutCard_button {
  height: 20%;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  background-color: white;
}
.tutCard_button a {


  color: white;
}
.tutCard_button button:hover{
  background-color:white;
  color:navy;
}
.tutBtn{
  width: 100%;
  height: 100%;
  /* border-radius: 4px; */
  background-color: navy;
  color: white;
}
.tutHeader{
  width: 100%;
  background-color:#2d4788;
  height:230px;

}
.tutHeader p{
  padding-top:8%;
  padding-left:2%;
  font-size:3em;
  margin: 0 auto;
  color: white;
}
/*Downloads page css*/
/* ABOUT US PAGE CSS STARTS HERE*/
.about_container{
  height: 250px;
  background-color: #2d4788;
  /*background-image: url('../images/about-back-img.png') no-repeat;*/
}
.about_h1{
  color: #fff;
  font-weight: 600;
  font-size: 5.5rem;
  padding-top: 50px;
  padding-left: 20px;
}
@media(max-width:600px){
  .about_container{height: 120px;}
  .about_h1{
    padding-top: 0;
    font-size: 3rem;
    display: table-row;
  }
}
.about_img img{
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.row_about{
  margin-left: 0;
  margin-right: 0;
  background-color: #f7f7f7;
  height: auto;
}
.row_about .col-md-6{
  padding: 40px;
  margin: 0 auto;
}
.about_paragraph p{
  font-size: 1.8rem;
  color: #00007c;
  font-family: ubuntu;
  text-align: justify;
}
.social_profiles img{
  width: 100px;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.social_profiles img:hover{
  opacity: 0.7;
  transform: translate3d(0,-5px,0);
  transition: fill 300ms 0s ease, stroke 300ms 0s ease, transform 300ms 0s ease, opacity 300ms 0s ease;
}
.social_profiles_heading {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
  color: #fff;
}
.social_profiles_heading h2{
  font-size: 3.8rem;
}

.team_card{
  border: 1px solid #2d4788;
  padding: 10px;
}
.team_card_img{
  width: 100%;
  height: auto;
  padding: 10px;
}
.team_card_body h4{
  /*font-size: 2.5rem;*/
  font-weight: 500;
}
.team_card>.card-body>.card-text{
  color: #676767;
}

/* ABOUT US PAGE CSS ENDS HERE*/

/* CONTACT ROW START HERE */
.contact_container{
  background-image: url(../images/breadcrumb.jpg);
  background-repeat: no-repeat;
}
.contact_row{
  background-color: #2d4788;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
.border_this_row{
  border: .06px solid #879bbd;
}
.contact_row > .col-md-8 > .row > .col-md-6{
  padding-right: 0;
  padding-left: 0;
}
.contact_heading{
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.contact_heading p{
  margin: 5px 0 5px 0;
  /*margin-left: 0;*/
}
.contact_info_heading{
  border-bottom: .1px solid #879bbd;
  margin-bottom: 40px;
}
.contact_info_heading h4{
  font-size: 2rem;
}
div.contact_main_wrapper{
  /*border: .06px solid #879bbd;*/
  padding: 20px;
}
div.contact_main_wrapper .form-control{
  border-radius: 0;
  color: #879bbd;
  background-color: #2d4788;
  border-color: #879bbd;
}
div.contact_main_wrapper form button{
  color: #879bbd;
  background-color: #2d4788;
  border-color: #879bbd;
}
.contact_ul{
  list-style: none;
  font-size: 1.6rem;
  padding-left: 0;
}
.contact_ul li{
  margin-bottom: 15px;
  display: flex;
  overflow: -webkit-paged-x;
  /*text-overflow: hidden;*/
}
.contact_ul li .glyphicon{
  margin-right: 10px;
}
/* CONTACT ROW ENDS HERE _D */
/* FOOTER STYLES STARTS HERE */
footer{
  background-color: #000080;
  padding: 50px 0px 0px 0px;
}
footer .row{
  margin-left: 0;
  margin-right: 0;
}
.footer_div{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.footer_div a img{
  width: 60px;
  max-width: 100%;
  height: auto;
  padding: 10px;
}
.footer_div a img:hover{
  transform: translate3d(0,-2px,0);

}
.footer_social_links{
  text-align: center;
  margin-top: 15px;
}
.footer_social_links a{
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-right: 1px solid #fff;
}
.footer_social_links a:last-of-type{
  border-right: none;
}
.footer_bottom{
  background-color: #2d4788;
  padding: 20px 10px 10px 30px;
  color: #fff;
  margin-top: 20px;
  border-left: 5px solid #fff;
}
.footer_bottom p{
  letter-spacing: 0.8px;
  font-weight: 600;
}
.footer_bottom a{
  text-decoration: none;
  color: #fff;
}
.footer_bottom_version{
  float: right;
  font-weight: 800;
}
/* FOOTER STYLES ENDS HERE */
